@using TaskManagment.ViewModel;
@model ProjectAddEditViewModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add new Project</h1>
<form method="post">
    <div>
        <label> ProjectName
            <input asp-for="Name" />
        </label>          
          
    </div>








</form>
